@media (max-width: 768px) {
    .gallery-container {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .gallery-container::-webkit-scrollbar {
        display: none;
    }

    .drawer {
        left: -100%;
        width: 100%;
    }

    .grid-item .file-name {
        font-size: 0.9vh;
        padding: 0.1vh;
    }
}
